@import "default/color_variable";
@import "default/typography";
@import "common/general";
@import "common/slider";
@import "common/video-modal";
@import "common/sidebar";
@import "common/spacing";
@import "shortcode/header";
@import "shortcode/customcursor";
@import "shortcode/hero";
@import "shortcode/iconbox";
@import "shortcode/card";
@import "shortcode/cta";
@import "shortcode/funfact";
@import "shortcode/logolist";
@import "shortcode/movingtext";
@import "shortcode/portfolio";
@import "shortcode/post";
@import "shortcode/pricing";
@import "shortcode/servicelist";
@import "shortcode/team";
@import "shortcode/testimonial";
@import "shortcode/timeline";
@import "shortcode/footer";
@import "common/rtl";

// slider css
.swiper-horizontal > .swiper-pagination {
    bottom: 52px !important;
    left: 50% !important;
    z-index: 10;
    @media (max-width: 1199px) {
        bottom: 30pxpx !important;
    }
}

body,html{
    background-color: #010024 !important;
}
.cs-shape_wrap_4 .cs-shape_4{
    background-color: #ff4a17 !important;
}



// .cs-accordian {
//     position: relative; 
//     padding-left: 30px; 
//     margin-bottom: 10px; 
//   }
  
//   .cs-accordian::before {
//     content: "";
//     position: absolute;
//     left: -55px; 
//     top: 50%; 
//     transform: translateY(-50%); 
//     width: 15px; 
//     height: 15px; 
//     background-color: red; 
//     border-radius: 50%; 
//   }
  
//   .cs-accordian_head {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     cursor: pointer;
//     padding-right: 10px;
//   }
  
//   .cs-accordian_body {
//     padding: 10px;
//     display: none; 
//   }
  
//   .cs-accordian.active .cs-accordian_body {
//     display: block;
//   }
  
